.navItemList {
  margin: 0 auto;
  @media (min-width: 768px) and (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: auto;
  }
  .headLinkItem {
    text-transform: capitalize;
    text-decoration: none;
    color: #f8fbfa;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    padding: 5px !important;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0 !important;
      width: fit-content;
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 auto 0 0;
    }
    img {
      display: block;
      width: 0;
      height: 6px;
      transition: width 0.5s ease, height 0.5s ease; /* Add transition properties */
    }

    &:hover,
    &:focus {
      @media (max-width: 768px) {
        padding: 0 !important;
        width: fit-content;
        font-size: 1.2rem;
        font-weight: 700;
      }
      img {
        width: 6px;
        height: 6px;
        transition: width 0.5s ease, height 0.5s ease; /* Add transition properties */
      }
    }
  }
}

.navItemList.active {
  .headLinkItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content !important;

    background-color: rgb(27, 18, 18) !important;
    color: #f8fbfa !important;

    @media (max-width: 768px) {
      background-color: transparent;
      padding: 0 !important;
      width: fit-content;
      font-size: 1.5rem;
      font-weight: 800;
    }

    img {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: rgb(27, 18, 18) !important;
      color: #f8fbfa !important;
      @media (max-width: 768px) {
        background-color: transparent;
        padding: 0 !important;
        width: fit-content;
        font-size: 1.5rem;
        font-weight: 800;
      }

      img {
        display: none;
      }
    }
  }
}
